* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.battlefields {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

table,
td {
  border: 1px solid;
  border-collapse: collapse;
  display: table-cell;
  user-select: none;
}

.battlefield-cell {
  position: relative;
  width: 32px;
  height: 32px;
}

.battle-cell-content {
  width: 32px;
  height: 32px;
}

.battle-cell-content__rival,
.battle-cell-content__self {
  text-align: center;
  line-height: 32px;
}

.battle-cell-content__rival:hover {
  background-color: rgb(35, 186, 209);
  cursor: pointer;
}

.ship {
  background-color: #999999;
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 3;
  height: 32px;
  cursor: grab;
  display: block;
  text-align: center;
  line-height: 32px;
}
