@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: inherit;
  font-family: "Poppins", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  height: 10%;
  width: 95%;
  padding-left: 1.5em;
}

header > a {
  border-bottom: 2px solid black;
}

.site-name:hover span {
  display: inline-block;
  animation: wave 1.1s linear infinite;
}

.site-name span:nth-child(1) {
  animation-delay: -0.27s;
}

.site-name span:nth-child(2) {
  animation-delay: -0.24s;
}

.site-name span:nth-child(3) {
  animation-delay: -0.21s;
}

.site-name span:nth-child(4) {
  animation-delay: -0.18s;
}

.site-name span:nth-child(5) {
  animation-delay: -0.15s;
}

.site-name span:nth-child(6) {
  animation-delay: -0.12s;
}

.site-name span:nth-child(7) {
  animation-delay: -0.09s;
}

.site-name span:nth-child(8) {
  animation-delay: -0.06s;
}

.site-name span:nth-child(9) {
  animation-delay: -0.03s;
}

.site-name span:nth-child(10) {
  animation-delay: 0s;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

nav ul {
  display: flex;
  gap: 2em;
}

nav ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: rgb(35, 186, 209);
}

/* How to Play */
.how-to-play {
  padding-top: 1.5em;
  padding-left: 6em;
  width: 100%;
}

.gameplay-list,
.game-rules-list,
.controls-list {
  margin-bottom: 1.5em;
  width: 70%;
  padding-left: 40px;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

/* Battlefields */
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.result {
  margin-top: 3em;
  height: 1em;
}

.battlefields {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 5em;
}

table {
  border: 1.5px solid black;
  border-collapse: collapse;
  display: table-cell;
  user-select: none;
}

.battlefield-cell {
  position: relative;
  width: 32px;
  height: 32px;
  border-left: 0.5px solid rgb(0, 0, 0);
  border-top: 0.5px solid rgb(0, 0, 0);
  border-collapse: collapse;
  display: table-cell;
  user-select: none;
}

.battlefield-cell--active {
  border-top: 0.5px solid rgb(0, 38, 25);
  border-left: 0.5px solid rgb(0, 38, 255);
  background-color: rgb(228, 228, 228);
}

.battle-cell-content {
  width: 32px;
  height: 32px;
}

.battle-cell-content__bot,
.battle-cell-content__player {
  text-align: center;
  line-height: 32px;
}

.battle-cell-content__bot:hover {
  background-color: rgb(35, 186, 209);
  cursor: pointer;
}

.ship {
  background-color: #333333;
  clip-path: polygon(
    0 20%,
    20% 0,
    80% 0,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 3;
  height: 32px;
  cursor: grab;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 32px;
  color: #ffffff;
}

.ship-horizontal {
  transform: rotate(90deg);
}

.ship-sub-div {
  width: 32px;
  height: 32px;
}

.ship-sub-div:hover {
  background-color: rgb(177, 177, 177);
}

/* Start Button */
.start-btn {
  width: 100px;
  height: 50px;
  background-color: #080808;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.start-btn:hover {
  background-color: rgb(177, 177, 177);
}

footer {
  padding-left: 1.5em;
  position: fixed;
  left: 0;
  bottom: 1em;
}
/* Media Queries */
/* Mobile */
@media screen and (max-width: 768px) {
  .how-to-play {
    padding-left: 1.5em;
  }
  .game {
    gap: 1em;
  }
  .battlefields {
    gap: 0.5em;
  }
  .result {
    margin-top: 0.5em;
  }
  footer {
    position: static;
  }
}
